@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

body {
    font-family: 'Annie Use Your Telescope', cursive;
    background-color: #1A1A1A;
    color: #C0CBD8;
    transition: background-color 0.3s, color 0.3s;
}

main {
    margin-top: 4rem;
}


a {
    text-decoration: none;
    color: inherit;
}

a.active {
    text-decoration: underline;
}

a:hover {
    opacity: 70%;
}

.home {
    font-size: 64px;
}

.moon {
    position: absolute;
    width: 200px;
    height: 220px;
}

.moon1 {
    z-index: 2;

    top: 50px;
    left: 300px;
}

.moon2 {
    z-index: 1;
    top: 100px;
    left: 320px;
}

.decor {
    z-index: 1;
    width: 100px;
    height: 100px;
    rotate: -45deg;
    position: absolute;
    top: 150px;
    left: 70px;
}

body.light-mode {
    background-color: #C0CBD8;
    color: #1A1A1A;
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

#theme-icon {
    width: 30px;
    height: 30px;
}

.icon-container {
    align-items: left;
    height: 20px;
    width: 20px;
    margin-top: 180px;
    margin-bottom: 80px;
}

.icon:hover {
    opacity: 70%;
}

/* MASONRY-STYLING 
.masonry {
    column-count: 2;
    column-gap: 1rem;
    padding: 1rem;
}

.masonry-item {
    break-inside: avoid;
    margin-bottom: 1rem;
}

.masonry-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.5rem;
}*/

.masonry {
    max-width: 60rem;
    margin: 0 auto;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 10px; /* Basiswert für die Zeilenhöhe */
}

.masonry-item {
    break-inside: avoid;
    grid-row: span calc(var(--item-height) / 10); /* Dynamische Höhe */
}

.masonry-item img {
    width: 100%;
    height: auto;
    display: block;
}

<script src="/_data/masonry.js" defer></script>

