@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: lighter;
    background-color: #1A1A1A;
    color: #C0CBD8;
    transition: background-color 0.3s, color 0.3s;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home {
    font-family: 'Annie Use Your Telescope';
    font-size: 6.854rem;
    padding-left: 2rem;
    padding-top: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a.active {
    text-decoration: underline;
}

a:hover {
    opacity: 70%;
}

.menu-buttons {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
    padding-top: 6rem;
    max-width: 80%;
    margin: 0 auto;
}

.menu-button {
    position: relative;
    display: block;
    width: 100%;
    aspect-ratio: 3 / 2;
    min-width: 35px;
    min-height: 450px;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.3s, opacity 0.3s;
}

.menu-button span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
}

.menu-button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.submenu-container {
    max-width: 50vw;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.submenu-button {
    position: relative;
    width: 100%;
    padding-top: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.3s, opacity 0.3s;
}

.submenu-button span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
}

.submenu-button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/* PROJECT PAGE STYLES */
.project-title {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
    text-align: center;
}

.hero {
    width: 100vw;
    max-width: 1400px;
    margin: 2rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    width: 100%;
    max-width: 1400px;
    height: auto;
    display: block;
}

.hero-text {
    max-width: 60ch;
    margin: 2rem auto 3rem auto;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.6;
}

.divider {
    width: 95%;
    color: #C0CBD8;
}

body.light-mode .divider {
    color: #1A1A1A;
}

.contribution-text {
    font-size: 1.4rem;
    margin: 4rem 32rem 1rem;
}

.contribution ul {
    font-size: 1.4rem;
    list-style-type: disc;
    margin: 0 31rem 4rem;
}

.page-text {
    max-width: 60ch;
    margin: 8rem auto 3rem auto;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.6;
}

.background-story {
    max-width: 60ch;
    margin: 8rem auto 3rem auto;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.6;
    background-color: #2e2e30;
    padding: 2rem 2.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
}

body.light-mode .background-story {
    background-color: #d4d4d4;
}

/*GALLERY STYLES */
.gallery__wrapper {
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.gallery__item img {
    width: 100%;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery__item:hover img {
    opacity: 80%;
    cursor: pointer;
}

.gallery--highlight-first .gallery__item--highlight {
    grid-column: 1 / -1;
}

.gallery--highlight-first .gallery__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.lg-backdrop {
    background-color: rgba(15, 15, 15, 0.95) !important;
}

.threejs-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 1rem auto;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    justify-content: center;
}

.threejs-container {
    width: 100%;
    height: 500px;
    max-width: 600px;
    aspect-ratio: 1 / 1;
    background-color: #b6afa3;
    border-radius: 1rem;
    margin: 1rem 0;
    overflow: hidden;
}

.threejs-instructions-desktop {
    max-width: 80vw;
    margin: -1rem auto 3rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.2;
}

.threejs-instructions-touch {
    display: none;
}

/*PROJECT MOSAIC STYLES */
.project-mosaic {
    margin: 6rem auto 4rem;
    padding: 0 2rem;
    text-align: center;
    max-width: 1200px;
    cursor: pointer;
}

.project-mosaic__heading {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: #C0CBD8;
}

body.light-mode .project-mosaic__heading {
    color: #1A1A1A;
}

.project-mosaic__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
}

.project-mosaic__item {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
}

.project-mosaic__item:hover {
    transform: scale(1.04);
}

.project-mosaic__thumb-wrapper {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: relative;
}

.project-mosaic__thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: static;
    display: block;
    border-radius: 12px;
    z-index: 1;
}

.project-mosaic__title {
    position: absolute;
    z-index: 2;
    font-size: 1.4rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C0CBD8;
    background: rgba(0, 0, 0, 0.39);
}

/* FINE ART PAGE STYLES */
.commissions-title {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    padding-top: 4rem
}

.commissions-year {
    font-size: 1.2rem;
    text-align: center;
    padding-left: 16rem;
    padding-right: 16rem;
}

.commissions-text {
    font-size: 1.2rem;
    text-align: center;
    padding-left: 16rem;
    padding-right: 16rem;
    padding-bottom: 5rem
}

.artwork-gallery {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.artwork-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
}

.artwork-title {
    font-size: 2rem;
    margin: 0;
    text-align: left;
}

.artwork-meta {
    display: flex;
    gap: 2rem;
    font-size: 1.6rem;
    color: #626675;
    flex-wrap: wrap;
}

.artwork-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.artwork-image-container img {
    width: 100%;
}

/* ABOUT PAGE STYLES */
.about-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.about {
    display: flex;
    align-items: flex-start;
    max-width: 60ch;
    min-height: 40vh;
    max-height: 992px;
    flex-shrink: 0;
    flex: 1 1 auto;
    color: #C0CBD8;
    font-size: 1.618rem;
    line-height: normal;
    margin-left: 18rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
    padding-right: 10rem;
}

.adastra {
    position: absolute;
    top: 8%;
    right: 2rem;
    margin-left: 2rem;
    font-size: 2rem;
    letter-spacing: 22px;
    background: linear-gradient(270deg, #C0CBD8 33.34%, #1A1A1A 110.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: right top;
    transform: rotate(-90deg) translateY(-100%);
    white-space: nowrap;
}

.about-image {
    width: 20%;
    height: auto;
    border-radius: 0.5rem;
    display: block;
    margin: auto auto 4rem auto;
}

body.light-mode .adastra {
    position: absolute;
    top: 20%;
    right: 2rem;
    font-size: 2rem;
    letter-spacing: 22px;
    background: linear-gradient(270deg, #1A1A1A 33.34%, #C0CBD8 110.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: right top;
    transform: rotate(-90deg) translateY(-100%);
    white-space: nowrap;
}

/* NAVIGATION STYLES */
#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

#theme-icon {
    width: 30px;
    height: 30px;
}

body.light-mode {
    background-color: #C0CBD8;
    color: #1A1A1A;
}

body.light-mode .about {
    filter: invert(1);
}

body.light-mode .menu-button span {
    color: #C0CBD8;
}

body.light-mode .submenu-button span {
    color: #C0CBD8;
}

.icon:hover {
    opacity: 70%;
}

.back-to-top {
    position: fixed;
    bottom: 6rem;
    right: 2rem;
    display: none;
    cursor: pointer;
    z-index: 999;
    width: 50px;
    height: 50px;
    background: #626675b0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 10px solid transparent;
}

.arrow-icon {
    width: 100%;
}

main {
    flex: 1 0 auto;
}

.footer-divider {
    width: 95%;
    color: #C0CBD8;
    margin-bottom: 3rem;
}

body.light-mode .footer-divider {
    color: #1A1A1A;
}

footer {
    background-color: transparent;
    z-index: 999;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.footer-navigation nav {
    display: flex;
    gap: 6rem;
    justify-content: center;
    font-size: 1.4rem;
}

.footer-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    min-height: 5rem;
    margin-bottom: 2rem;
    font-family: 'Annie Use Your Telescope';
}

.footer-left {
    display: flex;
    align-items: flex-end;
}

.icon-container {
    height: 4rem;
    width: 1.5rem;
}

.footer-center {
    display: flex;
    color: #626675;
    font-size: 1.4rem;
    gap: 6rem;
}

.footer-right {
    display: flex;
    gap: 1.5rem;
}

.language-selector {
    display: flex;
    gap: 0.3rem;
    font-size: 1.5rem;
}

.language-selector a {
    color: #626675;
}