@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

body {
    font-family: 'Annie Use Your Telescope', cursive;
    background-color: #1A1A1A;
    color: #C0CBD8;
    transition: background-color 0.3s, color 0.3s;
}

main {
    margin-top: 4rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a.active {
    text-decoration: underline;
}

a:hover {
    opacity: 70%;
}

/* Theme Toggle Button */
#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

.home {
    font-size: 64px;
}

.decor {
    z-index: 1;
    width: 100px;
    height: 100px;
    rotate: -45deg;
    position: absolute;
    top: 150px;
    left: 70px;
}

body.light-mode {
    background-color: #C0CBD8;
    color: #1A1A1A;
}

body.light-mode .about {
    filter: invert(1);
}

#theme-icon {
    width: 30px;
    height: 30px;
}

.icon-container {
    height: 20px;
    width: 20px;
    margin-top: 180px;
    margin-bottom: 80px;
}

.icon:hover {
    opacity: 70%;
}

.menu-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.menu-button {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 56.25%;
    /* Aspect ratio 16:9 */
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    overflow: hidden;
    text-decoration: none;
    color: white;
    transition: transform 0.3s, opacity 0.3s;
}

.menu-button span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.menu-button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.about {
    width: 1220px;
    height: 992px;
    flex-shrink: 0;
    color: #C0CBD8;
    font-size: 32px;
    line-height: normal;
}

.about-image {
    width: 20%;
    height: auto;
    border-radius: 0.5rem;
}

.adastra {
    position: absolute;
    right: 0;
    top: 60%;
    font-size: 25px;
    letter-spacing: 22px;
    background: linear-gradient(270deg, #C0CBD8 33.34%, #1A1A1A 110.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotate(-90deg);
}

body.light-mode .adastra {
    background: linear-gradient(270deg, #1A1A1A 33.34%, #C0CBD8 110.25%);
}

.project-button {
    display: block;
    text-decoration: none;
    margin-bottom: 2rem;
}

.project-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.project-title {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
    font-size: 1.5rem;
    text-shadow: 0 0 5px black;
}

.project-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 2rem 1rem;
    max-width: 900px;
    margin: 0 auto;
}

.project-tile {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.7);
        transition: filter 0.3s ease;
    }

    &:hover img {
        filter: brightness(0.9);
    }
}


.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    /* Initial versteckt */
    cursor: pointer;
    z-index: 999;
    width: 40px;
    height: 40px;
}

.arrow-icon {
    width: 100%;
    height: auto;
}