{% set rawPageKey = page.fileSlug %}
{% set pageKey = rawPageKey %}

{# Sonderfall: concept-art-Version von abyss_03 #}
{% if page.url and 'concept-art' in page.url and pageKey == 'abyss_03' %}
    {% set pageKey = 'abyss_03_concept' %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <a href="{% if lang == 'de' %}/{% else %}/en/{% endif %}" class="home">INSOMNEA art</a>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            {% if lang == "de" %}
                <div>DE wird geladen</div>
                {% include "DEfooter.njk" %}
            {% else %}
                <div>EN wird geladen</div>
                {% include "ENfooter.njk" %}
            {% endif %}
        </footer>
    </body>
</html>