<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <header>
                <a href="{% if lang == 'de' %}/index.html{% else %}/en/index.html{% endif %}">INSOMNEA art</a>
            </header>
        </header>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>