{% set cloudinaryBaseUrl = "https://res.cloudinary.com/insomneaart/image/upload/" %}
<a href="{{ href }}" class="{{ class }}" style="background-image: url('{{ cloudinaryBaseUrl }}{{ path }}');">
    <span>{{ text }}</span>
</a>