<footer>
    <nav>
        <a href="/concept-art/" class="{% if page.url == '/concept-art/' %}active{% endif %}">concept art</a>
        <a href="/games/" class="{% if page.url == '/games/' %}active{% endif %}">games</a>
        <a href="/kunst/" class="{% if page.url == '/kunst/' %}active{% endif %}">kunst</a>
        <a href="/ueber/" class="{% if page.url == '/ueber/' %}active{% endif %}">über mich</a>
    </nav>

    <div class="icon-container">
        <a href="https://www.instagram.com/insomneaart/" target="_blank">
            <img src="/assets/icons/icon_instagram_B.svg" alt="Instagram" class="icon theme-icon-switch" data-dark="/assets/icons/icon_instagram_B.svg" data-light="/assets/icons/icon_instagram_D.svg">
        </a>
        <a href="https://cara.app/celestialinsomniac" target="_blank">
            <img src="/assets/icons/icon_cara_B.svg" alt="Cara" class="icon theme-icon-switch" data-dark="/assets/icons/icon_cara_B.svg" data-light="/assets/icons/icon_cara_D.svg">
        </a>
        <a href="https://linktr.ee/celestial_insomniac" target="_blank">
            <img src="/assets/icons/icon_linktree_B.svg" alt="Linktree" class="icon theme-icon-switch" data-dark="/assets/icons/icon_linktree_B.svg" data-light="/assets/icons/icon_linktree_D.svg">
        </a>
    </div>

    <p>Danke für deinen Besuch!</p>
    <p>Alle Werke sind gegen Scraping-Diebstahl geschützt</p>

{% set rawPageKey = page.fileSlug %}
{% set pageKey = rawPageKey %}

{# Spezialfälle manuell korrigieren #}
{% if rawPageKey == 'kunst' %}
  {% set pageKey = 'fineart' %}
{% endif %}
{% if rawPageKey == 'ueber' %}
  {% set pageKey = 'about' %}
{% endif %}

{% set langMap = languageMap[pageKey] or {} %}

<nav class="language-selector">
    {% if lang == 'de' %}
        <span>DE</span>
    {% else %}
        <a href="{{ langMap.de or '/' }}" class="{% if lang == 'de' %}active{% endif %}">DE</a>
    {% endif %}
    /
    {% if lang == 'en' %}
        <span>EN</span>
    {% else %}
        <a href="{{ langMap.en or '/en/' }}" class="{% if lang == 'en' %}active{% endif %}">EN</a>
    {% endif %}
</nav>


    <button id="theme-toggle">
        <img id="theme-icon" src="/assets/icons/icon_sun_b.svg" alt="Theme Toggle">
    </button>

    <script src="/assets/js/theme-toggle.js"></script>
</footer>