---
title: "Lonàn the Scarecrow"
permalink: "concept-art/lonàn/index.html"
lang: "en"
layout: "base.njk"
heroImage: "https://res.cloudinary.com/insomneaart/image/upload/v1774111988/MENX_Lonan_verorange_qgwuiu.jpg"
heroAlt: "Lonàn the Scarecrow concept art"
heroText: ""
---

<style>
    .hero-image {
        max-width: 700px;
    }
</style>

{% include "partials/project_template.njk" %}

<p class="page-text">In 2026 in my fifth semester, I created a concept for a scarecrow character called Lonàn. After writing down his backstory, my mentor Even Amundsen prompted me to do my best version of the character 
within one day. What sounded like a very scary task at first, turned out to be a nice exercise to look back after finishing the project. I started with an anatomy warmup the 
next morning and gathered a few references.</p>

{# Galerie 1: First concept #}
{% set first_concept = [
    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774111881/first_concept_xlt6rh.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774111881/first_concept_xlt6rh.png",
        alt: "Very first concept without previous research and work"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774112291/anatomy_j4yxlt.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774112291/anatomy_j4yxlt.jpg",
        alt: "Anatomy study warmup"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774111895/process_otmh2t.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774111895/process_otmh2t.jpg",
        alt: "Process for the first concept"
    }
] %}

{% set images = first_concept %}
{% set galleryName = "first_concept" %}
{% set highlightFirst = false %}
{% include "partials/gallery.njk" %}

<p class="background-story">Domhan is a world similar to earth but smaller with similar regions and climate. Lonàn lives with his wife Gráinne and their daughter Lucrais 
on a farm next to a small village. The farm lies at the foot of mount Whitetop, perpetually snow-capped from which a spring flows. Further down, the spring turns into a river 
that supplies Lonàn's farm and the village with water. There are a few other villages scattered here and there, but most of the region consists of mountains, forests with tall 
trees, and hills with some open grasslands in between. In this region, thin metal coins have become the currency, but the rule of receiving and giving is still practiced. It 
states that if you're offered something, you must give something in return. It is not uncommon to see dwarfes or fairies around these parts, and if you're lucky, you may even 
encounter a god without knowing.<br><br>

The last winter was harsh. Most of the remaining winter fruits perished, and Gràinne fell ill, due to malnutrition. In a Pub called "the one-eyed dwarf", Lonàn was advised seek 
out Cailleach, an elderly woman said to be able to help with all kinds of illnesses.<br><br>

After several days of travel, he finally reached Cailleach's hut, which appeared to be a kind of shop. Lonàn quickly realized that he was too poor to afford the things the old 
woman offered, so in desperation he decided to steal a potion he believed would help his wife. He couldn't return to her empty-handed. He didn't know that these potions were 
only for the rich who had the coin to cure things like an ugly nose or crooked fingers. He also didn't notice that about a dozen black birds were sitting on branches watching 
him as he thought he was alone in the shop.<br><br>

Cailleach noticed the thief and immediately rushed out at him and turned Lonàn into a scarecrow. Having lost the ability to speak, Lonàn now could only listen to what the old 
woman had to say: "Within nine weeks, you will give away every thing you carry and return to me, then I will give you back your body and help your wife. When giving something 
away, you must not refuse an offer in return. You must not give your belongings away to beggars, and you must not sell your possessions for coin to shops and merchants. If you 
break any of these rules, a part of your body will permanently turned into wood!".<br><br>

As soon as she had finished speaking, Cailleach sent Lonàn out the door, along with one of the small black birds. With his family in his heart and after realizing his error, 
Lonàn sets out to lose everything he owns to save what he values the most.</p>

{# Galerie 2: Studies #}
{% set studies = [
    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774111933/MEN5_turnips_faces_1_nhnqek.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774111933/MEN5_turnips_faces_1_nhnqek.png",
        alt: "Turnip head exploration"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774111935/MEN5_turnips_faces_2_vslshh.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774111935/MEN5_turnips_faces_2_vslshh.png",
        alt: "Turnip head exploration 2"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774111938/MEN5_leg_bindings_r72wuz.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774111938/MEN5_leg_bindings_r72wuz.png",
        alt: "Leg binding exploration"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774111936/MEN5_hat_silhouettes2_kye1mm.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774111936/MEN5_hat_silhouettes2_kye1mm.png",
        alt: "Hat silhouette exploration"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774111942/MEN5_Léine_study1_r2ynv1.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774111942/MEN5_Léine_study1_r2ynv1.png",
        alt: "Folds and léine study 1"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774111943/MEN5_Léine_study2_quvmee.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774111943/MEN5_Léine_study2_quvmee.png",
        alt: "Léine study 2"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774111943/MEN5_Léine_study3_hvah7l.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774111943/MEN5_Léine_study3_hvah7l.png",
        alt: "Léine study 3"
    }
] %}

{% set images = studies %}
{% set galleryName = "studies" %}
{% set highlightFirst = false %}
{% include "partials/gallery.njk" %}

<p class="page-text">After completing the first version of the concept, I went into studying the léine (also called saffron shirt), turnips, the different types of folds, etc.</p>

{# Galerie 3: Final_concept #}
{% set final_concept = [
    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774111988/MENX_Lonan_verorange_qgwuiu.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774111988/MENX_Lonan_verorange_qgwuiu.jpg",
        alt: "Final concept"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_160/v1774111976/color_iterations_kahrxo.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774111976/color_iterations_kahrxo.png",
        alt: "First iteration"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774111976/color_iterations_2_dbnc5x.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774111976/color_iterations_2_dbnc5x.png",
        alt: "Second iteration"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774111974/ver_color_pbltwz.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774111974/ver_color_pbltwz.png",
        alt: "Final concept flat colors"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774112401/lonan_ver_shaded_anrnou.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774112401/lonan_ver_shaded_anrnou.png",
        alt: "Shading"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774112416/lonan_ver_details_x1flqi.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774112416/lonan_ver_details_x1flqi.png",
        alt: "Details"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774111990/MENX_Lonan_verpurple_hryngo.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774111990/MENX_Lonan_verpurple_hryngo.jpg",
        alt: "Glow iteration purple"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1774111985/MENX_Lonan_verblue_ejtntf.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1774111985/MENX_Lonan_verblue_ejtntf.jpg",
        alt: "Glow iteration blue"
    }
] %}

{% set images = final_concept %}
{% set galleryName = "final_concept" %}
{% set highlightFirst = true %}
{% include "partials/gallery.njk" %}