---
title: "INSOMNEA art"
permalink: "index.html"
language: "de"
---

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <a href="index.html">
              INSOMNEA art</a>
    </header>
    <main>
        <a href="/projekte/">Projekte</a>
        <a href="/kunst/">Kunst</a>
        <a href="/ueber/">Über mich</a>
    </main>
    <footer>
        <nav class="language-selector">
            <a href="/de/{{ page.filePathStem | replace('/en/', '/de/') }}" class="{% if language == 'de' %}active{% endif %}">DE</a>
    /
    <a href="/en/{{ page.filePathStem | replace('/de/', '/en/') }}" class="{% if language == 'en' %}active{% endif %}">EN</a>
        </nav>

    </footer>
</body>
</html>

<!-- npx @11ty/eleventy --serve -->