---
title: "INSOMNEA art"
permalink: "index.html"
lang: "de"
---

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <a href="index.html">
              INSOMNEA art</a>
    </header>
    <main>
        <a href="/projekte/">Projekte</a>
        <a href="/kunst/">Kunst</a>
        <a href="/ueber/">Über mich</a>
    </main>

    <footer>
        <nav class="language-selector">
            <!-- Wenn die aktuelle Seite Deutsch ist, wechsle zu Englisch -->
            <a href="{% if lang == 'de' %}/en{{ page.url | replace('/de', '') }}{% else %}/index.html{% endif %}" class="{% if lang == 'de' %}active{% endif %}">DE</a>
        /
        <!-- Wenn die aktuelle Seite Englisch ist, wechsle zu Deutsch -->
            <a href="{% if lang == 'en' %}/de{{ page.url | replace('/en', '') }}{% else %}/en/index.html{% endif %}" class="{% if lang == 'en' %}active{% endif %}">EN</a>
        </nav>
    </footer>

</body>
</html>

<!-- npx @11ty/eleventy --serve -->