---
title: "Abyss_03"
permalink: "en/concept-art/abyss_03_concept/index.html"
lang: "en"
layout: "base.njk"
heroImage: "https://res.cloudinary.com/insomneaart/image/upload/v1746984530/Abyss_03_character_concept_b6mjmx.png"
heroAlt: "Abyss_03 Concept Art"
heroText: "<p>I designed the concept for this character and the spaceship below as part of a game module during my studies. Abyss_03 is the title of the game we developed
in this module. You can find out more about it under <a href='/en/games/abyss_03game/index.html' style='text-decoration: underline;'> games</a>.</p>"
---

{% include "partials/project_template.njk" %}

<p>The character belongs to the Assavi race. The Assavi live on the desert planet called Urusvak and are equipped for extreme temperatures and strong wind storms. 
The suit is designed for agility and the jetpack is used for locomotion.</p>

{# Gallery 1: Charakterconcept #}
{% set Character_Abyss_03 = [
    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746984178/Abyss_03_visdev_1_mejxyz.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984178/Abyss_03_visdev_1_mejxyz.png",
        alt: "Thumbnails 1"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746984180/Abyss_03_visdev_2_hnaeuv.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984180/Abyss_03_visdev_2_hnaeuv.png",
        alt: "Thumbnails 2"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746984535/Abyss_03_base_svgbwb.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984535/Abyss_03_base_svgbwb.png",
        alt: "Base"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746984532/Abyss_03_it1_hjsjwb.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984532/Abyss_03_it1_hjsjwb.png",
        alt: "Erste Iteration"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746984534/Abyss_03_it2_buanyk.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984534/Abyss_03_it2_buanyk.png",
        alt: "Zweite Iteration"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746984531/Abyss_03_concept_kx6fwm.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984531/Abyss_03_concept_kx6fwm.png",
        alt: "Dritte Iteration"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746984530/Abyss_03_character_concept_b6mjmx.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984530/Abyss_03_character_concept_b6mjmx.png",
        alt: "Charakterkonzept"
    }
] %}

{% set images = Character_Abyss_03 %}
{% set galleryName = "Character_Abyss_03" %}
{% include "partials/gallery.njk" %}

<hr>

<p>Inspired by robber flies, powerful desert flies, I made the concept for our spaceship. The small ships in front and on the sides serve as shield projectors. The two pairs of 
wings are used to control the direction of the ship. There are two pairs of retractable legs on the bottom.</p>

{# Galerie 2: Spaceship_Abyss_03 #}
{% set Spaceship_Abyss_03 = [
    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746983756/concept_ship_final_k5qyl8.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746983756/concept_ship_final_k5qyl8.png",
        alt: "Spaceship concept"
    },    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746984063/visdev_ship_qpzdlh.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984063/visdev_ship_qpzdlh.png",
        alt: "Spaceship sketches"
    },    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746984065/concept_ship_hmnsif.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984065/concept_ship_hmnsif.png",
        alt: "Spaceship iteration 1"
    },    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746983755/concept_ship_4_vewa8p.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746983755/concept_ship_4_vewa8p.png",
        alt: "Spaceship iteration 1A"
    },    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746983754/concept_ship_3_t3z6qx.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746983754/concept_ship_3_t3z6qx.png",
        alt: "Spaceship iteration 1B"
    },    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746983754/concept_ship_2_t6obtu.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746983754/concept_ship_2_t6obtu.png",
        alt: "Spaceship iteration 1C"
    },    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746983757/ship_shields_ezlj9p.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746983757/ship_shields_ezlj9p.jpg",
        alt: "Spaceship iteration 1D"
    },    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746984066/ship_backnfront_zrgl3s.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984066/ship_backnfront_zrgl3s.png",
        alt: "Spaceship front and back view"
    },    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746984063/ship_side_bzy7zj.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984063/ship_side_bzy7zj.png",
        alt: "Spaceship side view"
    },    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746984065/ship_3.4_y6etxa.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984065/ship_3.4_y6etxa.png",
        alt: "Spaceship 3/4 view"
    }
] %}

{% set images = Spaceship_Abyss_03 %}
{% set galleryName = "Spaceship_Abyss_03" %}
{% set highlightFirst = true %}
{% include "partials/gallery.njk" %}