---
title: "Abyss_03"
permalink: "en/concept-art/abyss_03_concept/index.html"
lang: "en"
layout: "base.njk"
heroImage: "https://res.cloudinary.com/insomneaart/image/upload/v1746984530/Abyss_03_character_concept_b6mjmx.png"
heroAlt: "Abyss_03 Concept Art"
heroText: "<p>I designed the concept for this character and the spaceship below as part of a game module during my studies. Abyss_03 is the title of the game we developed
in this module. You can find out more about it under <a href='/en/games/abyss_03game/index.html' style='text-decoration: underline;'> games</a>.</p>"
---

{% include "partials/project_template.njk" %}

<p>The character belongs to the Assavi race. The Assavi live on the desert planet called Urusvak and are equipped for extreme temperatures and strong wind storms. 
The suit is designed for agility and the jetpack is used for locomotion.</p>

{# Gallery 1: Charakterconcept #}
{% set gallery1 = [
    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/v1/v1746984178/Abyss_03_visdev_1_mejxyz.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984178/Abyss_03_visdev_1_mejxyz.png",
        alt: "Thumbnails 1"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/v1/v1746984180/Abyss_03_visdev_2_hnaeuv.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984180/Abyss_03_visdev_2_hnaeuv.png",
        alt: "Thumbnails 2"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/v1/v1746984535/Abyss_03_base_svgbwb.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984535/Abyss_03_base_svgbwb.png",
        alt: "Base"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/v1/v1746984532/Abyss_03_it1_hjsjwb.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984532/Abyss_03_it1_hjsjwb.png",
        alt: "First iteration"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/v1/v1746984534/Abyss_03_it2_buanyk.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984534/Abyss_03_it2_buanyk.png",
        alt: "Second iteration"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/v1/v1746984531/Abyss_03_concept_kx6fwm.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984531/Abyss_03_concept_kx6fwm.png",
        alt: "Third iteration"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/v1/v1746984530/Abyss_03_character_concept_b6mjmx.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746984530/Abyss_03_character_concept_b6mjmx.png",
        alt: "Charakter concept"
    }
] %}

{% set images = gallery1 %}
{% set galleryName = "abyss03-character" %}
{% include "partials/gallery.njk" %}