---
title: "Abyss_03"
permalink: "en/concept-art/abyss_03_concept/index.html"
lang: "en"
layout: "base.njk"
heroImage: "https://res.cloudinary.com/insomneaart/image/upload/v1748084290/Abyss_03_character_conceptcharacter_concept_e7n3wn.png"
heroAlt: "Abyss_03 Concept Art"
heroText: "<p>I designed the concept for this character and the spaceship below as part of a game module during my studies. Abyss_03 is the title of the game we developed
in this module. You can find out more about it under <a href='/en/games/abyss_03game/index.html' style='text-decoration: underline;'> games</a>.</p>"
---

{% include "partials/project_template.njk" %}

<p class="page-text">The character belongs to the Assavi race. The Assavi live on the desert planet called Urusvak and are equipped for extreme temperatures and strong wind storms. 
The suit is designed for agility and the jetpack is used for locomotion.</p>

{# Gallery 1: Charakterconcept #}
{% set Character_Abyss_03 = [
    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748084290/Abyss_03_character_conceptcharacter_concept_e7n3wn.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748084290/Abyss_03_character_conceptcharacter_concept_e7n3wn.png",
        alt: "Character concept"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748084291/Abyss_03_concept_oepdnz.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748084291/Abyss_03_concept_oepdnz.png",
        alt: "Second iteration B"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748084304/Abyss_03_it2_lmblmj.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748084304/Abyss_03_it2_lmblmj.png",
        alt: "Second iteration A"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748084292/Abyss_03_it1_mysdml.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748084292/Abyss_03_it1_mysdml.png",
        alt: "First iteration"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748084288/Abyss_03_base_yvnbu1.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748084288/Abyss_03_base_yvnbu1.png",
        alt: "Character base"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748084287/Abyss_03_visdev_2_seqaee.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748084287/Abyss_03_visdev_2_seqaee.png",
        alt: "Thumbnails 2"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748084306/Abyss_03_visdev_1_jeh293.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748084306/Abyss_03_visdev_1_jeh293.png",
        alt: "Thumbnails 1"
    }
] %}

{% set images = Character_Abyss_03 %}
{% set galleryName = "Character_Abyss_03" %}
{% set highlightFirst = true %}
{% include "partials/gallery.njk" %}

<hr>

<p class="page-text">Inspired by robber flies, powerful desert flies, I made the concept for our spaceship. The small ships in front and on the sides serve as shield projectors. The two pairs of 
wings are used to control the direction of the ship. There are two pairs of retractable legs on the bottom.</p>

{# Gallery 2: Spaceship_Abyss_03 #}
{% set Spaceship_Abyss_03 = [
    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748079551/concept_ship_final_ssmg9q.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748079551/concept_ship_final_ssmg9q.png",
        alt: "Spaceship concept"
    },    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748079552/ship_side_liosto.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748079552/ship_side_liosto.png",
        alt: "Spaceship side view"
    },    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748079551/ship_backnfront_u0cszo.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748079551/ship_backnfront_u0cszo.png",
        alt: "Spaceship front and back view"
    },    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748079549/spaceship_muyrqd.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748079549/spaceship_muyrqd.png",
        alt: "Spaceship three quarters view"
    },    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748079552/sketch_with_shields_nna6t4.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748079552/sketch_with_shields_nna6t4.png",
        alt: "Spaceship iteration 1A"
    },    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748079552/concept_ship_chyppt.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748079552/concept_ship_chyppt.png",
        alt: "Spaceship iteration"
    },    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748079550/visdev_ship_euzfon.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748079550/visdev_ship_euzfon.png",
        alt: "Spaceship sketches"
    }
] %}

{% set images = Spaceship_Abyss_03 %}
{% set galleryName = "Spaceship_Abyss_03" %}
{% set highlightFirst = true %}
{% include "partials/gallery.njk" %}