<footer>
    <nav class="language-selector">
        <a href="/de/{{ page.fileSlug }}" class="{% if language == 'de' %}active{% endif %}">DE</a>
  /
  <a href="/en/{{ page.fileSlug }}" class="{% if language == 'en' %}active{% endif %}">EN</a>
    </nav>
</footer>