---
title: "Rote Tigerkatze"
permalink: "kunst/rote-Tigerkatze/index.html"
lang: "de"
layout: "base.njk"
---

<h1>Rote Tigerkatze</h1>
<p>Beschreibung</p>
<img src="/assets/fineart/Redtabbycat.png" alt="Rote Tigerkatze">
