---
title: "Concept art"
permalink: "en/concept-art/index.html"
lang: "en"
layout: "base.njk"
---

<link rel="stylesheet" href="/css/styles.css">

<div class="submenu-container">
{% set path = "v1748084290/Abyss_03_character_conceptcharacter_concept_e7n3wn.png" %}
{% set href = "/en/concept-art/abyss_03_concept/" %}
{% set text = "Abyss_03" %}
{% set class = "submenu-button" %}
{% include "partials/cloudinary-image.njk" %}

{% set path = "v1748086062/character_blurb_omvcqt.png" %}
{% set href = "/en/concept-art/artyail/" %}
{% set text = "Artya'il" %}
{% set class = "submenu-button" %}
{% include "partials/cloudinary-image.njk" %}
</div>