---
title: "concept art"
permalink: "en/concept-art/index.html"
lang: "en"
layout: "base.njk"
---

<link rel="stylesheet" href="/css/styles.css">

{% set projects = [
  {
    title: "Abyss_03",
    url: "/en/concept-art/abyss_03/",
    image: "/assets/fineart/Gouldianfinch.png"
  },
  {
    title: "Artya'il",
    url: "/en/concept-art/artyail/",
    image: "/assets/fineart/Gouldianfinch.png"
  }
] %}

<div class="project-gallery">
    {% for project in projects %}
        {% set project = project %}
        {% include "partials/projects_nav.njk" %}
    {% endfor %}
</div>