---
title: "Concept art"
permalink: "en/concept-art/index.html"
lang: "en"
layout: "base.njk"
---

<link rel="stylesheet" href="/css/styles.css">

<div class="submenu-container">
{% set path = "v1746984530/Abyss_03_character_concept_b6mjmx.png" %}
{% set href = "/en/concept-art/abyss_03_concept/" %}
{% set text = "Abyss_03" %}
{% set class = "submenu-button" %}
{% include "cloudinary-image.njk" %}

{% set path = "v1746985681/Artyail_character_blurb_pg4rok.png" %}
{% set href = "/en/concept-art/artyail/" %}
{% set text = "Artya'il" %}
{% set class = "submenu-button" %}
{% include "cloudinary-image.njk" %}
</div>