---
title: "games"
permalink: "en/games/index.html"
lang: "en"
layout: "base.njk"
---

<link rel="stylesheet" href="/css/styles.css">

{% set projects = [
  {
    title: "Abyss_03",
    url: "/en/games/abyss_03game/",
    image: "/assets/fineart/Gouldianfinch.png"
  },
  {
    title: "Patched Up",
    url: "/en/games/patched-up/",
    image: "/assets/fineart/Gouldianfinch.png"
  },
    {
    title: "Bedtime Story",
    url: "/en/games/bedtime-story/",
    image: "/assets/fineart/Gouldianfinch.png"
  }
] %}

<div class="project-gallery">
  {% for project in projects %}
    {% set project = project %}
    {% include "partials/projects_menu.njk" %}
  {% endfor %}
</div>