---
title: "Fine art"
permalink: "en/fineart/index.html"
lang: "en"
pageKey: kunst
layout: "base.njk"
---

{% set artworks = [
  {
    title: "Tabby cat",
    year: "2025",
    medium: "Acrylics on canvas",
    size: "30 x 40 cm",
    thumb: "v1746177971/tabby_cat_lnm7kz.jpg",
    large: "v1746177971/tabby_cat_lnm7kz.jpg",
    alt: "Tabby cat"
  }, {
    title: "Prohierodula mantis",
    year: "2024",
    medium: "Oil on canvas",
    size: "100 x 70 cm",
    thumb: "v1748093331/Prohierodula_fczgz0.png",
    large: "v1748093331/Prohierodula_fczgz0.png",
    alt: "Mantis Prohierodula"
  }, {
    title: "Red tabby cat",
    year: "2024",
    medium: "Acrylics on canvas",
    size: "60 x 40 cm",
    thumb: "v1746177991/Red_tabby_cat_ndbuni.png",
    large: "v1746177991/Red_tabby_cat_ndbuni.png",
    alt: "Red tabby cat"
  }, {
    title: "Gouldian Finch",
    year: "2024",
    medium: "Acrylics on canvas",
    size: "30 x 40 cm",
    thumb: "v1746177979/Gouldian_finch_midtmn.png",
    large: "v1746177979/Gouldian_finch_midtmn.png",
    alt: "Gouldian Finch"
  }, {
    title: "Red Fox",
    year: "2022",
    medium: "Acrylics on canvas",
    size: "30 x 40 cm",
    thumb: "v1746787122/redfox_og9pcu.png",
    large: "v1746787122/redfox_og9pcu.png",
    alt: "Red Fox"
  }
] %}

<div class="artwork-gallery lightgallery">
  {% for work in artworks %}
    {% include "partials/artwork.njk" %}
  {% endfor %}
</div>