---
title: "About Me"
permalink: "en/about/index.html"
lang: "en"
pageKey: ueber
layout: "base.njk"
---

<div class="about">
    <p>Hi, nice to meet you! I'm Annie<br><br>

I've been drawing for as long as I can remember (and hold a pencil). I started drawing digitally when I was 16 and painting only a few years later. Being creative is my outlet for 
my energy and whatever is on my mind.<br><br>

For a long time I wanted to become a painter or a concept artist for video games. Now I do both! I love creating character concepts but I also still enjoy analogue work. That's why 
you'll find both here on my website. I am continuing my education in character concept art and still work with a brush in front of the canvas.<br><br>

Whether your beloved furry friend has passed away or you would just like to show them how much you love them, I would love to be the artist of your artwork. Bringing joy to others 
through my work makes me happier than anything else. I'm an animal lover myself and have had many different pets throughout my life. From cats and dogs to guinea pigs and geckos to 
mantises and even a tarantula.<br><br>

I work digitally with Krita or Rebelle and Blender. Analogously, I mainly work with acrylic paints but occasionally also with oil.<br><br>

Thank you for visiting my corner of the internet.<br><br>

For business inquiries, please send me an e-mail to insomnea@outlook.com.</p>
</div>

<img src="https://res.cloudinary.com/insomneaart/image/upload/v1749304796/mewithpet_b63mkc.png" alt="Annie" class="about-image"/>

<div class="adastra">Non est ad astra mollis e terris via</div>