---
title: "Gouldamadine"
permalink: "kunst/gouldamadine/index.html"
lang: "de"
layout: "base.njk"
---

<h1>Gouldamadine</h1>
<p>Beschreibung</p>
<img src="/assets/fineart/Gouldianfinch.png" alt="Gouldamadine">
