---
title: "Gouldian Finch"
permalink: "/en/fineart/gouldian-finch/index.html"
lang: "en"
layout: "base.njk"
---

<h1>Gouldian Finch</h1>
<p>Description</p>
<img src="/assets/fineart/Gouldianfinch.png" alt="Gouldian Finch">
