---
title: "Games"
permalink: "games/index.html"
lang: "de"
layout: "base.njk"
---

<link rel="stylesheet" href="/css/styles.css">

<div class="submenu-container">
    {% set path = "v1746985871/Abyss_03_ship-protected_t1e6v5.png" %}
    {% set href = "/games/abyss_03game/" %}
    {% set text = "Abyss_03" %}
    {% set class = "submenu-button" %}
    {% include "partials/cloudinary-image.njk" %}

    {% set path = "v1747295328/Screenshot_4_Patched_Up_pzadvf.png" %}
    {% set href = "/games/patched-up/" %}
    {% set text = "Patched Up" %}
    {% set class = "submenu-button" %}
    {% include "partials/cloudinary-image.njk" %}

    {% set path = "v1747297425/Bedtime_Story_Screenshot1_rifgqc.png" %}
    {% set href = "/games/bedtime-story/" %}
    {% set text = "Bedtime Story" %}
    {% set class = "submenu-button" %}
    {% include "partials/cloudinary-image.njk" %}
</div>