---
title: "Kunst"
permalink: "kunst/index.html"
lang: "de"
layout: "base.njk"
---

<h1>Deutsche Kunst</h1>

<a href="/projekte/">Projekte</a>
<a href="/kunst/">Kunst</a>
<a href="/ueber/">Über mich</a>