---
title: "Kunst"
permalink: "kunst/index.html"
lang: "de"
layout: "base.njk"
---

<link rel="stylesheet" href="/css/styles.css">

{% set images = [
  {
      src: "/assets/fineart/Tabbycat.jpg",
      alt: "Tigerkatze",
      link: "/kunst/tigerkatze/"
    }, {     
      src: "/assets/fineart/Prohierodula.png",
      alt: "Prohierodula Mantis",
      link: "/kunst/prohierodula-mantis/"
    }, {
      src: "/assets/fineart/Redtabbycat.png",
      alt: "Rote Tigerkatze",
      link: "/kunst/rote-tigerkatze/index.html"
    }, {
      src: "/assets/fineart/Gouldianfinch.png",
      alt: "Gouldamadine",
      link: "/kunst/gouldamadine/index.html"
    }, {
      src: "/assets/fineart/Redfox.jpg",
      alt: "Roter Fuchs",
      link: "/kunst/roter-fuchs/index.html"
    }
] %}

{% include "partials/masonry-gallery.njk" %}

<!-- Navigation separat für jede Seite (Klasse?) -->