---
title: "Über mich"
permalink: "ueber/index.html"
lang: "de"
pageKey: ueber
layout: "base.njk"
---

<div class="about">
    <p>Hallo! Schön, dich kennenzulernen! Ich bin Annie<br><br>
    Ich zeichne seit ich denken kann (und einen Bleistift halten kann). Mit 16 habe ich angefangen, digital zu zeichnen, und ein paar Jahre später zu malen. Kreativ sein ist mein Ventil für meine Energie und für alles, was mir durch den Kopf geht.<br><br>

    Seit langem ist es ein Traum von mir, Künstlerin oder Konzeptzeichnerin für Videospiele zu werden. Ich liebe es, Charakterkonzepte zu entwerfen, aber ich arbeite auch immer noch gerne analog.<br><br>
    
    Ganz gleich, ob Dein geliebter pelziger Freund verstorben ist oder Du ihm einfach nur zeigen möchtest, wie sehr Du ihn liebst, wäre ich gerne die Künstlerin für Dein Kunstwerk. Anderen mit meiner Arbeit eine Freude zu machen, macht mich glücklicher als alles andere. Ich bin selbst eine Tierfreundin und hatte im Laufe meines Lebens viele verschiedene Haustiere. Von Hauskatzen und Hunden über Meerschweinchen und Geckos bis hin zu Gottesanbeterinnen und sogar einer Vogelspinne.<br><br>
    
    Digital arbeite ich mit Krita oder Rebelle und Blender. Analog arbeite ich hauptsächlich mit Acrylfarben, aber gelegentlich auch mit Öl.<br><br>
    
    Vielen Dank für Deinen Besuch in meiner Ecke des Internets.<br><br>
    
    Für geschäftliche Anfragen schicke mir bitte eine E-Mail an insomnea@outlook.com.</p>
</div>

<img src="/assets/me.jpg" alt="Annie" class="about-image"/>

<div class="adastra">
    <p>Non est ad astra mollis e terris via</p>
</div>