---
title: "About Me"
permalink: "en/about/index.html"
lang: "en"
layout: "base.njk"
---

<h1>About Me</h1>

<a href="/en/projects/">Projects</a>
<a href="/en/fineart/">Fine Art</a>
<a href="/en/about/">About</a>