---
title: "INSOMNEA art"
permalink: "en/index.html"
lang: "en"
---

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <a href="index.html">
              INSOMNEA art</a>
    </header>
    <main>
        <a href="/en/projects/">Projects</a>
        <a href="/en/fineart/">Fine Art</a>
        <a href="/en/about/">About</a>
    </main>
<footer>
    <nav class="language-selector">
        <!-- Wenn die aktuelle Seite Deutsch ist, zeige DE als Text (kein Link) -->
        {% if lang == 'de' %}
            <span>DE</span>
        {% else %}
            <!-- Link zur deutschen Seite, die im Root-Verzeichnis liegt (ohne /de/) -->
            <a href="/" class="{% if lang == 'de' %}active{% endif %}">DE</a>
        {% endif %}
        
        /
        
        <!-- Wenn die aktuelle Seite Englisch ist, zeige EN als Text (kein Link) -->
        {% if lang == 'en' %}
            <span>EN</span>
        {% else %}
            <!-- Link zur englischen Seite im /en/-Verzeichnis -->
            <a href="/en" class="{% if lang == 'en' %}active{% endif %}">EN</a>
        {% endif %}
    </nav>
</footer>


</body>
</html>