---
title: "Prohierodula Mantis"
permalink: "/en/fineart/prohierodula-mantis/index.html"
lang: "en"
layout: "base.njk"
---

<h1>Prohierodula Mantis</h1>
<p>Description</p>
<img src="/assets/fineart/Prohierodula.png" alt="Prohierodula Mantis">
