---
title: "Roter Fuchs"
permalink: "kunst/roter-fuchs/index.html"
lang: "de"
layout: "base.njk"
---

<h1>Roter Fuchs</h1>
<p>Beschreibung</p>
<img src="/assets/fineart/Redfox.jpg" alt="Roter Fuchs">
