---
title: "Andere Projekte"
permalink: "de/anderes/index.html"
lang: "de"
pageKey: anderes
layout: "base.njk"
---

<h1 class="other-category">Illustrationen</h1>

<h2 class="other-project">UB5 Runde 1 - Celestial Insomniac vs. The Murl</h2>

 {# Galerie 2: UB5_Runde1 #}
{% set UB5_Runde1_Prozess = [
    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773679296/Round1_Celestial_InsomniacVSTheMurl_01_eco4fg.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773679296/Round1_Celestial_InsomniacVSTheMurl_01_eco4fg.jpg",
        alt: "Finales Bild"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773679297/UB5_Round1_WIP1_ggvfpf.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773679297/UB5_Round1_WIP1_ggvfpf.jpg",
        alt: "Skizzen"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773679288/UB5_Round1_WIP2_lkbnwn.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773679288/UB5_Round1_WIP2_lkbnwn.jpg",
        alt: "Thumbnail"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773679289/UB5_Round1_WIP3_wr37dy.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773679289/UB5_Round1_WIP3_wr37dy.jpg",
        alt: "Work in progress 1"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773679291/UB5_Round1_WIP4_rhdxoa.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773679291/UB5_Round1_WIP4_rhdxoa.jpg",
        alt: "Work in progress 2"
    }
] %}

{% set images = UB5_Runde1_Prozess %}
{% set galleryName = "UB5_Runde1_Prozess" %}
{% set highlightFirst = true %}
{% include "partials/gallery.njk" %}

<p class="other-text">Anfang 2026 nahm ich am 100 Künstler-knockout-Wettbewerb "Unreal Björnament" von Björn Hurri teil. Es ist ein 1 gegen 1 Künstler Wettbewerb mit einem Prompt und zwei Wochen für die Fertigstellung eines Werkes. Dabei liegt es bei den KünstlerInnen, ob eine Illustration oder aber Concept art erstellt wird. Der Prompt für die erste Runde lautete "Das magische Objekt gewährte überirdische Kräfte". Der Wettbewerb verläuft über mehrere Runden, wobei jeweils ein Gewinner pro Paar weiterkommt.</p>


<hr class="footer-divider">

<h2 class="other-project">Twitch Layout</h2>

 {# Galerie 3: Twitch_Layout #}
{% set Twitch_Layout = [
    {
       large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773758276/Always__Noob_starting_template_llylop.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773758276/Always__Noob_starting_template_llylop.jpg",
        alt: "Starting screen Vorlage"
    }, {
       iframe: "https://player.cloudinary.com/embed/?cloud_name=insomneaart&public_id=Always__Noob_Starting_elqny3&profile=cld-default",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773752198/starting_screen_video_thumbnail_opttaq.jpg",
        alt: "Starting screen animiert"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/vv1773679388/Always__Noob_chattingTEMPLATE_gaoz6n.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773679388/Always__Noob_chattingTEMPLATE_gaoz6n.jpg",
        alt: "Just chatting screen template"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773679403/Always__Noob_content_WINDOWchat_uuz1fq.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773679403/Always__Noob_content_WINDOWchat_uuz1fq.png",
        alt: "Content chat window"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773679382/Always__Noob_panel_commands_f9nvb7.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773679382/Always__Noob_panel_commands_f9nvb7.png",
        alt: "Commands panel"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773679385/Always__Noob_panel_regeln_ycpzjt.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773679385/Always__Noob_panel_regeln_ycpzjt.png",
        alt: "Regeln panel"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773679380/Always__Noob_panel_zeitplan_memzfr.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773679380/Always__Noob_panel_zeitplan_memzfr.png",
        alt: "Zeitplan panel"
    }
] %}

{% set images = Twitch_Layout %}
{% set galleryName = "Twitch_Layout" %}
{% set highlightFirst = true %}
{% include "partials/gallery.njk" %}

<p class="other-text">In 2026 erstellte ich dieses Twitch-Overlay für den Streamer <a href="https://www.twitch.tv/always__noob" target="_blank" rel="noopener noreferrer">Always__Noob</a>.  Ich erstellte ein Overlay für den Start- sowie Just Chatting-Screen und einige Infopanels. Das Meiste erstellte ich in Krita, die Animationen machte ich mit Adobe After Effects. Es wird bald auch noch ein zusätzliches Overlay für denselben Streamer geben.</p>


<hr class="footer-divider">

<h1 class="other-category">Aktzeichnungen</h1>

 {# Galerie 1: Aktzeichnungen #}
{% set Aktzeichnungen = [
    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773747316/03.31.2024_-_5m_f3khst.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773747316/03.31.2024_-_5m_f3khst.png",
        alt: "31.03.2024 - 5 min"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773747316/05.20.2024_-_2m_irblqg.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773747316/05.20.2024_-_2m_irblqg.png",
        alt: "20.05.2024 - 2 min"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773747343/05.20.2024_-_5m_nu6q3m.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773747343/05.20.2024_-_5m_nu6q3m.png",
        alt: "20.05.2024 - 5 min"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773750172/2026.01.17._study_1_vtt1fn.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773750172/2026.01.17._study_1_vtt1fn.jpg",
        alt: "17.01.2026 - live zeichnen 1"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773750173/2026.01.17._study_2_q0qzod.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773750173/2026.01.17._study_2_q0qzod.jpg",
        alt: "17.01.2026 - live zeichnen 2"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773750170/2026.01.17._study_3_h0bp3g.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773750170/2026.01.17._study_3_h0bp3g.jpg",
        alt: "17.01.2026 - live zeichnen 3"
    }
] %}

{% set images = Aktzeichnungen %}
{% set galleryName = "Aktzeichnungen" %}
{% set highlightFirst = false %}
{% include "partials/gallery_spread.njk" %}


<hr class="footer-divider">

<h1 class="other-category">Skizzenheft</h1>

 {# Galerie 4: Skizzenheft #}
{% set Skizzenheft = [
    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773750213/2023_sketch_tkimgr.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773750213/2023_sketch_tkimgr.jpg",
        alt: "2023 Skizzen"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773750300/2023.07.28._sketch_loq43h.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773750300/2023.07.28._sketch_loq43h.jpg",
        alt: "28.07.2023 - Skizze"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773750559/2024_sketches_l2ncxc.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773750559/2024_sketches_l2ncxc.jpg",
        alt: "2024 Skizzen"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773750557/2024_sketch_yrswna.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773750557/2024_sketch_yrswna.jpg",
        alt: "2024 Skizze"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773750428/2024_sketch_2_e4uw95.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773750428/2024_sketch_2_e4uw95.jpg",
        alt: "2024 Skizze 2"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773750555/2024_sketch_3_dcdstm.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773750555/2024_sketch_3_dcdstm.jpg",
        alt: "2024 Skizze 3"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1773750561/2026.01.30._study_rhapgf.jpg",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1773750561/2026.01.30._study_rhapgf.jpg",
        alt: "30.01.2026 - Vogelstudie"
    }
] %}

{% set images = Skizzenheft %}
{% set galleryName = "Skizzenheft" %}
{% set highlightFirst = false %}
{% include "partials/gallery_spread.njk" %}