---
title: "Prohierodula Mantis"
permalink: "kunst/prohierodula-mantis/index.html"
lang: "de"
layout: "base.njk"
---

<h1>Prohierodula Mantis</h1>
<p>Hier ist die Beschreibung des Kunstwerks auf Deutsch.</p>
<img src="/assets/fineart/Prohierodula.png" alt="Prohierodula Mantis">
