---
title: "Patched Up"
permalink: "games/patched-up/index.html"
lang: "de"
layout: "base.njk"
heroImage: "https://res.cloudinary.com/insomneaart/image/upload/v1748175880/Screenshot_1_Patched_Up_qr2hjn.png"
heroAlt: "Patched Up Demo"
heroText: |
  <p>Patched Up ist ein storybasiertes horror adventure Game mit düsteren Themen aber einem Happy End. Du verfolgst die Geschichte eines Hasenmädchens namens Anne Gora, welche 
  in eine Spielzeugwelt gefallen ist und nun ihren Stoffhasen sucht. Das spielt führt durch verschiedene Kapitel mit Puzzles, die für den Spielfortschritt gelöst werden müssen.<br><br>
  Dieses Projekt entstand in einem Modul im Studium. Wir arbeiteten in einer Gruppe von einem Programmierer und drei Designern und kreirten in einem Semester einen Vertical Slice, welcher 
  wir dann auch an Julia Kenny vom Publisher Headup Games pitchten.<br><br>
  Unser Vertical Slice respektive die Demo wurde sogar beim PAX Talent Award 2025 nominiert und steht aktuell auf <a href="https://celestial-insomniac.itch.io/patched-up" target="_blank" rel="noopener">itch.io</a> zum Download zur Verfügung.</p>
---

{% include "partials/project_template.njk" %}

<section class="contribution">
    <h2 class="contribution-text">Mein Beitrag in diesem Projekt:</h2>
    <ul>
        <li>Game design lead & creative direction</li>
        <li>Level design</li>
        <li>Storyborading</li>
        <li>Writing</li>
        <li>Erstellen von 3D Assets</li>
        <li>Character Concept Art</li>
        <li>UI</li>
        <li>Vorbereitung des Pitchdecks</li>
    </ul>
</section>

{# Galerie 1: Screenshots Patched Up #}
{% set Screenshots_Patched_Up = [
    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748175886/Screenshot_2_Patched_Up_sptb7y.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748175886/Screenshot_2_Patched_Up_sptb7y.png",
        alt: "Screenshot Küche"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748175873/Screenshot_5_Patched_Up_yrhqs0.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748175873/Screenshot_5_Patched_Up_yrhqs0.png",
        alt: "Screenshot Dachboden"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748175867/Screenshot_4_Patched_Up_qaiijj.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748175867/Screenshot_4_Patched_Up_qaiijj.png",
        alt: "Screenshot Wohnzimmer"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748175893/Screenshot_3_Patched_Up_cfmeao.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748175893/Screenshot_3_Patched_Up_cfmeao.png",
        alt: "Screenshot Schlafzimmer"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748175880/Screenshot_1_Patched_Up_qr2hjn.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748175880/Screenshot_1_Patched_Up_qr2hjn.png",
        alt: "Screenshot Esszimmer"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746986029/PatchedUp_image_zyrwsq.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746986029/PatchedUp_image_zyrwsq.png",
        alt: "Triggerwarnungen"
    }
] %}

{% set images = Screenshots_Patched_Up %}
{% set galleryName = "Screenshots_Patched_Up" %}
{% set highlightFirst = true %}
{% include "partials/gallery.njk" %}

<p class="page-text">Für unseren Vertical Slice erstellte ich diverse 3D Assets in Blender sowie Substance Painter und importierte sie in Unity.<p>

        {# Galerie 2: Assets Patched Up #}
        {% set Assets_Patched_Up = [
            {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748176250/_screenshot2_vatueu.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748176250/_screenshot2_vatueu.png",
                alt: "Screenshot Chatter Telephone"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748176264/chatty1_iog7as.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748176264/chatty1_iog7as.png",
                alt: "3D Modell Chatter Telephone Vorderseite"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748176271/chatty2_q5bsqx.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748176271/chatty2_q5bsqx.png",
                alt: "3D Modell Chatter Telephone Rückseite"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748176257/chatty_uv_evg0ms.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748176257/chatty_uv_evg0ms.png",
                alt: "UV Chatter Telephone"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748176243/_screenshot1_dnga16.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748176243/_screenshot1_dnga16.png",
                alt: "Screenshot Kuckuksuhr"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748176285/clock_bvxbfi.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748176285/clock_bvxbfi.png",
                alt: "3D Modell Kuckuksuhr"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748176278/clock_uv_er9c8q.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748176278/clock_uv_er9c8q.png",
                alt: "UV Kuckuksuhr"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748176314/wooden_bird_jlzqsb.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748176314/wooden_bird_jlzqsb.png",
                alt: "Close up Holzvogel"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748176306/wooden_bird_uv_hzsw8z.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748176306/wooden_bird_uv_hzsw8z.png",
                alt: "UV Holzvogel"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748176300/winding_screw_kjxabj.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748176300/winding_screw_kjxabj.png",
                alt: "Close up Aufziehschraube"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748176292/winding_screw_uv_rhxm14.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748176292/winding_screw_uv_rhxm14.png",
                alt: "UV Aufziehschraube"
            }
        ] %}

        {% set images = Assets_Patched_Up %}
        {% set galleryName = "Assets_Patched_Up" %}
        {% set highlightFirst = false %}
        {% include "partials/gallery.njk" %}

        <div class="threejs-wrapper">
            <div class="threejs-container" data-model="https://insomnea.art/assets/3D/patched-up/chatter_telephone.glb"></div>
            <div class="threejs-container" data-model="https://insomnea.art/assets/3D/patched-up/cuckoo_clock.glb"></div>
        </div>

        <p class="page-text">Das Level des Vertical Slices bestand aus einem Puppenhaus, wofür ich in Miro eine grobe Blockout-Map erstellt habe.</p>

        {# Galerie 3: Level Design Patched Up #}
        {% set Level_Design_Patched_Up = [
            {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748175525/level_design_big_plozyp.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748175525/level_design_big_plozyp.png",
                alt: "Level Design"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748175531/1_wnuyqo.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748175531/1_wnuyqo.png",
                alt: "Level Design Teil 1/3"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748175536/2_tkzauo.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748175536/2_tkzauo.png",
                alt: "Level Design Teil 2/3"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748175519/3_nfhkxo.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748175519/3_nfhkxo.png",
                alt: "Level Design Teil 3/3"
            }
        ] %}

        {% set images = Level_Design_Patched_Up %}
        {% set galleryName = "Level_Design_Patched_Up" %}
        {% set highlightFirst = false %}
        {% include "partials/gallery.njk" %}

        <p class="page-text">Das von mir in Rebelle Painter Pro erstellte Storyboard besteht aus dem Anfang des Spiels, wo Anne in die Spielzeugwelt fällt und dem Abschnitt im Puppenhaus. Also dem Abschnitt, welchen wir umgesetzt haben.</p>

        {# Galerie 4: Storyboard Patched Up #}
        {% set Storyboard_Patched_Up = [
            {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746986250/PatchedUp_storyboard_gmb62g.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746986250/PatchedUp_storyboard_gmb62g.png",
                alt: "Storyboard 1.1"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746986245/PatchedUp_storyboard_2_orhnqp.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746986245/PatchedUp_storyboard_2_orhnqp.png",
                alt: "Storyboard 1.2"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746986247/PatchedUp_storyboard_3_bffbtu.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746986247/PatchedUp_storyboard_3_bffbtu.png",
                alt: "Storyboard 1.3"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746986249/PatchedUp_storyboard_4_a4uxa3.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746986249/PatchedUp_storyboard_4_a4uxa3.png",
                alt: "Storyboard 1.4"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746986251/PatchedUp_Storyboard_mother_01_ktug4c.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746986251/PatchedUp_Storyboard_mother_01_ktug4c.png",
                alt: "Storyboard 2.1"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746986241/PatchedUp_Storyboard_mother_02_ndwthd.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746986241/PatchedUp_Storyboard_mother_02_ndwthd.png",
                alt: "Storyboard 2.2"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746986240/PatchedUp_Storyboard_mother_1_tvjmna.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746986240/PatchedUp_Storyboard_mother_1_tvjmna.png",
                alt: "Storyboard 2.3"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746986243/PatchedUp_Storyboard_mother_2_w0uie0.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746986243/PatchedUp_Storyboard_mother_2_w0uie0.png",
                alt: "Storyboard 2.4"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1746986244/PatchedUp_Storyboard_mother_3_cgwi6s.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1746986244/PatchedUp_Storyboard_mother_3_cgwi6s.png",
                alt: "Storyboard 2.5"
            }
        ] %}

        {% set images = Storyboard_Patched_Up %}
        {% set galleryName = "Storyboard_Patched_Up" %}
        {% set highlightFirst = false %}
        {% include "partials/gallery.njk" %}

        <p class="page-text">Ich erstellte ebenfalls Teile des UIs in Photoshop. Damit ein Menüscreen (hier ein Mockshot) sowie daraus eine Spielanleitung für eine allfällige Ausstellung des Studentenprojekts an der Fantasy Basel.</p>

        {# Galerie 5: UI Patched Up #}
        {% set UI_Patched_Up = [
            {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748175022/mockshot_menu_bvlrhq.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748175022/mockshot_menu_bvlrhq.png",
                alt: "Menu Mockshot"
            }, {
                large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748175140/image_druw12.png",
                thumb: "https://res.cloudinary.com/insomneaart/image/upload/w_600/v1748175140/image_druw12.png",
                alt: "Spielanleitung"
            }
        ] %}

        {% set images = UI_Patched_Up %}
        {% set galleryName = "UI_Patched_Up" %}
        {% set highlightFirst = false %}
        {% include "partials/gallery.njk" %}