---
title: "Artya'il"
permalink: "concept-art/artyail/index.html"
lang: "de"
layout: "base.njk"
heroImage: "https://res.cloudinary.com/insomneaart/image/upload/v1748085942/cover_asbzmu.png"
heroAlt: "Artya'il Concept Art"
heroText: "<p>Dieses Projekt entstand aus einem Mentoring in meinem zweiten Semester. Meine Mentorin, Ruth Bosch, brachte mir die Welt der character concept artists näher und 
unterstützte mich mit regelmässigen Calls und art direction. </p>"
---

{% include "partials/project_template.njk" %}

<p class="page-text">Ich erstellte ein Konzept für einen 3rd person Souls Like Boss namens Artya'il. Tägliche Anatomie-Studies sowie anschliessendem Worldbuilding ermöglichten es mir, fünf Passes 
und abschliessend ein finales character sheet für die erste Phase von Artya'il zu erstellen.</p>

{# Galerie 1: Charakterkonzept #}
{% set Artyail_concept = [
    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748086062/character_blurb_omvcqt.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1748086062/character_blurb_omvcqt.png",
        alt: "Charakterkonzept mit Blurb"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748085805/character_sheet_1st_form_full_bt9w0h.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1748085805/character_sheet_1st_form_full_bt9w0h.png",
        alt: "Charaktersheet erste Form"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748087120/attack_sheet_ekp1ok.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1748087120/attack_sheet_ekp1ok.png",
        alt: "Attack Sheet"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748087136/detailshots_isfbf4.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1748087136/detailshots_isfbf4.png",
        alt: "Detailshots"
    }
] %}

{% set images = Artyail_concept %}
{% set galleryName = "Artyail_concept" %}
{% set highlightFirst = true %}
{% include "partials/gallery.njk" %}

<p class="background-story">Seit Äonen herrschte Krieg zwischen den Engeln und Dämonen. Einige der Engel erkannten die Ausweglosigkeit und wandten sich vom Krieg ab, um auf Erda ein neues Leben 
zu beginnen. Sie schufen Wesen, die heute als Menschen bekannt sind. Allerdings waren diese Wesen nicht mehr unsterblich und besassen auch keine heilenden Fähigkeiten wie ihre Eltern. 
Die Kreaturen von Hellja waren eine Bedrohung für die Menschheit, und so wollten die Engel ihre Schöpfung schützen und einige kehrten in den Krieg zurück.<br><br>

Einige Jahrhunderte vergingen, die Menschen kolonisierten Erda und einige der Dämonen hatten nun auch die Idee, den immerwährenden Krieg zu verlassen. Ihre Ankunft auf Erda blieb 
nicht unbemerkt und so wurden viele von ihnen nach Hellja zurückgedrängt. Nur wenige blieben jedoch in diesem neuen Reich und so kam es hin und wieder zu einer Verbindung zwischen 
Engel und Dämon. Allerdings wurden sie und ihre Nachkommen gejagt, da diese Mischwesen kaum kontrollieren können, welche Seite sie zeigen. Sie sind dafür bekannt, dass sie 
Verwüstungen anrichten und daher eine Bedrohung für die Menschen darstellen. <br><br>

Artiya'il war eines dieser Mischlingskinder. Ihr Vater, ein ach so engelsgleicher Adliger, lernte ihre Mutter kennen, und ihre Leben wurden miteinander verwoben. Leider wurden sie 
bald darauf gefasst und eingekerkert. Artiya'il wurde in einer feuchten und dunklen Zelle zwischen schimmligem Stroh und Rattenkot geboren. Zwei Jahre später floh ihr Vater und 
liess sie und ihre Mutter zurück. Wie auch seine Sense. <br><br>

Weitere Jahre vergingen, und eines Tages gelang es Artiya'ils Mutter, sie zusammen mit der Sense ihres Vaters hinauszuschmuggeln, bevor sie von den aufgebrachten Wachen ermordet 
wurde. Artiya'il musste sich die meiste Zeit ihres Lebens versteckt halten, da sie sonst gejagt und getötet worden wäre. Artiya'il begann, alles und jeden zu hassen und sich nach 
Rache zu sehnen.<br><br>

Das Leben im Verborgenen hat sie zu einer guten Beobachterin gemacht und sie hat die vielen schrecklichen Gesichter der Menschheit gesehen. Viele Jahre sind vergangen und der 
religiöse Glaube der Menschen begann zu schwinden. Epidemien und Krankheiten begannen zu wüten und bald darauf traten überall Risse auf. Das Ende war nahe. Dämonen traten aus den 
Rissen hervor und schlachteten alles und jeden ab, der ihnen in die Quere kam. Unter ihnen war auch Artiya'il, bereit für ihre lang erwartete Rache.</p>

{# Galerie 2: Prozess #}
{% set Artyail_process = [
    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748086041/1st_first_pass_ffjqvx.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1748086041/1st_first_pass_ffjqvx.png",
        alt: "First Pass"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/v1748086042/2nd_second_pass_utje9v.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1748086042/2nd_second_pass_utje9v.png",
        alt: "Second Pass"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/v1748086045/3rd_Body_1-4_brivtz.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1748086045/3rd_Body_1-4_brivtz.png",
        alt: "Third Pass Körper"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/v1748086047/3rd_Heads_1-4_d7jyst.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1748086047/3rd_Heads_1-4_d7jyst.png",
        alt: "Third Pass Köpfe"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/v1748086050/4th_pass_lfhg40.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1748086050/4th_pass_lfhg40.png",
        alt: "Fourth Pass Körper"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/v1748086052/4th_sun_lbhdt9.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1748086052/4th_sun_lbhdt9.png",
        alt: "Fourth Pass Symbolik"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/v1748086056/5th_pass_llvxhy.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1748086056/5th_pass_llvxhy.png",
        alt: "Fifth Pass Körper"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/v1748086057/5th_scythe_iterations_nsmg9p.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1748086057/5th_scythe_iterations_nsmg9p.png",
        alt: "Fifth Pass Sense"
    }
] %}

{% set images = Artyail_process %}
{% set galleryName = "Artyail_process" %}
{% set highlightFirst = false %}
{% include "partials/gallery.njk" %}

<p class="page-text">Während dem Projekt machte ich auch einige Studien zu Eulenflügeln, Rüstungen sowie zu verschiedenen Teilen der Wirbelsäule und Händen resp. alter Haut.</p>

{# Galerie 3: Studies #}
{% set Artyail_Studies = [
    {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748086037/wings_it9sz6.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1748086037/wings_it9sz6.png",
        alt: "Study Eulenflügel"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748086411/armour_vuzcco.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1748086411/armour_vuzcco.png",
        alt: "Study Rüstung"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748086035/spine_sn9bbn.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1748086035/spine_sn9bbn.png",
        alt: "Study Wirbelsäule"
    }, {
        large: "https://res.cloudinary.com/insomneaart/image/upload/w_1600/v1748086014/hands_lc2sbo.png",
        thumb: "https://res.cloudinary.com/insomneaart/image/upload/v1748086014/hands_lc2sbo.png",
        alt: "Study alte Hände"
    }
] %}

{% set images = Artyail_Studies %}
{% set galleryName = "Artyail_Studies" %}
{% set highlightFirst = false %}
{% include "partials/gallery.njk" %}

<p class="page-text">Meine Erkenntnisse: Ich lernte, wie etwas visuell erklärt werden kann sowie Funktionsweisen beispielsweise einer Rüstung darzustellen. Ich lernte auch, wie etwas in 2D 
dargestellt werden muss, damit es anschliessend in 3D übersetzt werden kann. Mehrere Iterationen führten dazu, dass ich nach und nach geübter und selbstbewusster mit Anatomie aber 
auch meinen Linien und Formen wurde. Ich eignete mir an, Dinge und ihren Aufbau ganz genau zu untersuchen.</p>

