---
title: "Red tabby cat"
permalink: "/en/fineart/red-tabby-cat/index.html"
lang: "en"
layout: "base.njk"
---

<h1>Red tabby cat</h1>
<p>Description</p>
<img src="/assets/fineart/Redtabbycat.png" alt="Red tabby cat">
