---
title: "INSOMNEA art"
permalink: "index.html"
lang: "de"
---

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <a href="index.html" class="home">
              INSOMNEA art</a>
    </header>
    <main>
        <img src="/assets/crescent_moon_B.svg" alt="" class="decor theme-icon-switch" data-dark="/assets/crescent_moon_B.svg" data-light="/assets/crescent_moon_D.svg">
        <img src="/assets/images/moon1.png" alt="Mond 1" class="moon moon1">
        <img src="/assets/images/moon2.png" alt="Mond 2" class="moon moon2">
        <a href="/projekte/">Projekte</a>
        <a href="/kunst/">Kunst</a>
        <a href="/ueber/">Über mich</a>
    </main>

    <footer>
        <div class="icon-container">
            <a href="https://www.instagram.com/insomneaart/" target="_blank">
                <img src="/assets/icons/icon_instagram_B.svg" alt="Instagram" class="icon theme-icon-switch" data-dark="/assets/icons/icon_instagram_B.svg" data-light="/assets/icons/icon_instagram_D.svg">
            </a>
            <a href="https://cara.app/celestialinsomniac" target="_blank">
                <img src="/assets/icons/icon_cara_B.svg" alt="Cara" class="icon theme-icon-switch" data-dark="/assets/icons/icon_cara_B.svg" data-light="/assets/icons/icon_cara_D.svg">
            </a>
            <a href="https://linktr.ee/celestial_insomniac" target="_blank">
                <img src="/assets/icons/icon_linktree_B.svg" alt="Linktree" class="icon theme-icon-switch" data-dark="/assets/icons/icon_linktree_B.svg" data-light="/assets/icons/icon_linktree_D.svg">
            </a>
        </div>

        <p>Danke für deinen Besuch!</p>

        <nav class="language-selector">
            {% if lang == 'de' %}
                <span>DE</span>
            {% else %}
                <a href="/" class="{% if lang == 'de' %}active{% endif %}">DE</a>
            {% endif %}
        /
            {% if lang == 'en' %}
                <span>EN</span>
            {% else %}
                <a href="/en" class="{% if lang == 'en' %}active{% endif %}">EN</a>
            {% endif %}
        </nav>
        <button id="theme-toggle">
            <img id="theme-icon" src="/assets/icons/icon_sun_b.svg" alt="Theme Toggle">
        </button>

        <script src="/assets/js/theme-toggle.js"></script>
    </footer>

</body>
</html>

<!-- npx @11ty/eleventy --serve -->