<div class="artwork-item">
  <h2 class="artwork-title">{{ work.title }}</h2>
  <div class="artwork-meta">
    <span>{{ work.year }}</span>
    <span>{{ work.size }}</span>
    <span>{{ work.medium }}</span>
  </div>
  <div class="artwork-image-container">
    <a
    class="gallery__item"
    data-src="https://res.cloudinary.com/insomneaart/image/upload/w_1600,h_1200,c_fit,f_auto,q_auto/{{ work.large }}"
    data-lg-size="1600-1200"
    data-type="image"
    data-sub-html="<h4>{{ work.title }}</h4><p>{{ work.year }} – {{ work.size }} – {{ work.medium }}</p>"
  >
      <img
      src="https://res.cloudinary.com/insomneaart/image/upload/w_800,h_600,c_fit,f_auto,q_auto/{{ work.thumb }}"
      alt="{{ work.alt }}"
  ></a>
    </div>

  </div>