<nav>
    <ul>
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <a href="/en/concept-art/">concept art</a>
            <ul>
                {% for item in collections.conceptArtEN %}
                    <li>
                        <a href="{{ item.url }}">{{ item.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <a href="/games/">games</a>
            <ul>
                {% for item in collections.gamesEN %}
                    <li>
                        <a href="{{ item.url }}">{{ item.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <a href="/en/fineart/">fine art</a>
        </li>
        <li>
            <a href="/en/about/">about me</a>
        </li>
    </ul>
</nav>