<nav>
  <ul>
    <li>
      <a href="/">startseite</a>
    </li>
    <li>
      <a href="/concept-art/">concept art</a>
      <ul>
        {% for item in collections.conceptArtDE %}
          <li>
            <a href="{{ item.url }}">{{ item.data.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <a href="/games/">games</a>
      <ul>
        {% for item in collections.gamesDE %}
          <li>
            <a href="{{ item.url }}">{{ item.data.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <a href="/kunst/">kunst</a>
    </li>
    <li>
      <a href="/ueber/">über mich</a>
    </li>
  </ul>
</nav>