<main>
  <h1 class="project-title">{{ title }}</h1>

  {# Hero Section #}
  <section class="hero">
    <img src="{{ heroImage }}" alt="{{ heroAlt }}" class="hero-image">
  </section>
  <div class="hero-text">
    {{ heroText | safe }}
  </div>
</main>